@model List<BlogPost>
@{
    ViewData["Title"] = "SinglePost";
}

<section id="first-section">
    <div class="first-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <a href="./home.html">Ön Səhifə</a>
                    <span>/ Blog</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="second-section">
    <div class="second-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-12">
                    <div class="blogs">
                        <div class="carname">
                            <a href="#">BMW</a>
                        </div>
                        <div class="date-by">
                            <span class="date">
                                @foreach (var item in Model)
                                {
                                    @if (item.Id == ViewBag.BlogId)
                                    {
                                        @item.CreatedDate.ToString("MMM dd, yyyy")
                                    }
                                }
                                                    </span>
                            <span class="by">
                                by @foreach (var item in Model)
                                {
                                    @if (item.Id == ViewBag.BlogId)
                                    {
                                        @item.CreatedById
                                    }
                                }
                            </span>
                        </div>

                        <div class="car-title">
                            @foreach (var item in Model)
                            {
                                @if (item.Id == ViewBag.BlogId)
                                {
                                    <h1>@item.Title</h1>
                                }
                            }
                        </div>
                        <div class="car-content-first">
                            @foreach (var item in Model)
                            {
                                @if (item.Id == ViewBag.BlogId)
                                {
                                    @Html.Raw(item.Paragraph)
                                }
                            }
                        </div>
                        <div class="carimage">

                            <img src="~/uploads/images/@foreach (var item in Model)
                            {
                                @if (item.Id == ViewBag.BlogId)
                                {
                                    @item.ImagePath
                                }
                            }" style="width: 100%; height:100%;" alt="bmw">
                        </div>

                        @*<div class="main-news">
                                <ul>
                                    <li>1948-ci ildən başlayaraq BMW R24, təksilindirli motosiklet və 1951-ci ildə isə BMW müharibədən sonra öz ilk avtomobilini istehsal edir.</li>
                                    <li>1956- İdman avtomobilləri olan 503 və 507-ci modellər istehsala buraxılır.</li>
                                    <li>1974 – BMW ilk dəfə ABS sistemli 3.0 CSL avtomobillərini yarışlara çıxardır.</li>
                                    <li>1980 – ABS sisteminin sənaye istehsalatı və Formula 1 yarışları üçün mühərrikin istehsalatı başlanır. BMW-nin motosiklləri Paris-Dakar rallisini udur. Daha sonra həmin yarışda yenidən üç dəfə qalib gəlir.</li>
                                </ul>
                            </div>*@
                    </div>
                    <h3 class="title title-simple text-left text-normal font-weight-bold ls-normal">
                        <H2 style="font-weight:bold; color:black; padding-left:400px; margin-top:60px; margin-bottom:40px; " >
                            Related
                            Posts
                            </H2>
</h3>
                    <div class="related-posts">
                        @foreach (var item in Model)
                        {
                            @if (!(item.Id == ViewBag.BlogId))
                            {
                                if (item.CategoryId == ViewBag.CategoryId)
                                {
                                    <div class="post">
                                        <figure class="post-media">
                                            <a asp-action="singlepost" asp-route-id="@item.Id" asp-route-categoryId="@item.CategoryId">
                                                <img src="~/uploads/images/@item.ImagePath" width="350" height="250"
                                                     alt="post" />
                                            </a>
                                            <div class="post-calendar">
                                                <span class="date">
                                                    @item.CreatedDate.ToString("MMM dd, yyyy")
                                                </span>
                                            </div>
                                        </figure>
                                        <div class="post-details">
                                            <h4 class="post-title">
                                                <a style="text-decoration:none ; font-weight:bold ; color:black"  asp-action="singlepost" asp-route-id="@item.Id" asp-route-categoryId="@item.CategoryId">
                                                    @item.Title
                                                </a>
                                            </h4>
                                            <p class="post-content">
                                                @item.Paragraph.HtmlToPlainText().ToEllipse()
                                            </p>
                                            <a asp-action="singlepost" asp-route-id="@item.Id" asp-route-categoryId="@item.CategoryId" style="color:black; text-decoration:none"
                                               class="btn btn-link btn-underline btn-primary">
                                                Read more<i class="d-icon-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
                <div class="col-lg-2 col-sm-12">
                    <div class="end-news">
                        <div class="title">
                            SON MƏQALƏLƏR
                        </div>
                        <div class="marka-name">
                            <ul>
                                <li><a href="#"> Toyota</a></li>
                                <li><a href="#"> Hyundai</a></li>
                                <li><a href="#"> BMW</a></li>
                                <li><a href="#"> Mercedes Benz</a></li>
                                <li style="border-bottom: none;"><a href="#"> Volkswagen</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section css{
    <link rel="stylesheet" href="~/assets/vendor/slick-slider/slick.css">
    <link rel="stylesheet" href="~/assets/vendor/slick-slider/slick-theme.css">
    <link rel="stylesheet" href="~/assets/sass/blog.css">
}
@section js{

    <link rel="stylesheet" href="~/assets/sass/blog.css">
    <script src="./assets/js/blog.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/assets/vendor/slick-slider/slick.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.related-posts').slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 3
            });
        });
    </script>
}
