@model List<Product>

    @{
    ViewData["Title"] = "Basket";
    }


    <section id="first-section">
        <div class="first-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <a href="./home.html">Ön Səhifə</a>
                        <span>/ Səbətdə olanlar</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="second-section">
        <div class="second-section">
            <div class="container">
                <div class="basket-title">
                    Səbətdə olanlar
                </div>

                <div class="basket-button">
                    <div class="all-clear-continue">
                        <button style="background-color:#3a7DCF;height: 35px;width: 171px">
                            <a style="color:white" href="#">Alış verişə davam et</a>
                        </button>
                        <button style="background-color: #e4e4e4;height: 31px;width: 138px;margin-top: 2px;">
                            <a  class="delete" href="#">Səbəti təmizlə</a>
                        </button>
                    </div>

                    <div class="recalculate-complete">
                        <button style="background-color:#3a7DCF;height: 35px;width: 147px;margin-top: 2px;">
                            <a style="color:white" href="#">Yenidən hesabla</a>
                        </button>
                        <button id="order-comp" style="background-color:#FFD82D;height: 40px;width: 200px">
                            <a style="color:black;font-size:15px;" href="#">Sifarişi tamamla</a>
                        </button>
                    </div>


                </div>
            </div>
        </div>
    </section>

    <section id="third-section">
        <div class="third-section">
            <div class="container">
                <div class="basket-products">
                    <div class="products-title">
                        <div class="product">
                            Məhsul
                        </div>
                        <div class="price-count-totalprice-title">
                            <div class="price-title">
                                Vahid qiyməti
                            </div>
                            <div class="count-title">
                                Say
                            </div>
                            <div class="totalprice-title">
                                Ödəniləcək məbləğ
                            </div>
                        </div>
                    </div>
                    @foreach (var item in Model)
                    {
                        <section data-entity-id="@item.Id" data-price="@item.Price" data-quantity="1" class="content">
                            <div class="img-code-name">
                                <div class="img">
                                    <img src="~/uploads/images/@item.ImagePath" style="width:100%;height:100%;" alt="">
                                </div>
                                <div class="code-name">
                                    <div class="image-name">
                                        <a asp-action="Index" asp-route-id="@item.Id">@item.Name</a>
                                    </div>
                                    <div class="code">
                                        Kod: @item.PartCodeName
                                    </div>
                                </div>
                                <a class="delete" onclick="removeEntity(@item.Id)">
                                    <i class="fas fa-times"></i>
                                </a>
                            </div>

                            <div class="price-count-totalprice">
                                <div class="first">
                                    @item.Price ₼
                                </div>
                                <div class="second">
                                    <button class="decrease" onclick="minusQuantity(event)">-</button>
                                    <span class="quantity number">1</span>
                                    <button class="increase" onclick="plusQuantity(event)">+</button>
                                </div>
                                <div class="third product-price">
                                    <span class="amount">@item.Price ₼</span>
                                </div>
                            </div>
                        </section>
                    }
                    <div class="end-total-price">
                        <div class="title-totalprice">
                            <div class="title-price">
                                Toplam məbləğ :
                            </div>
                            <div class="common-price">
                                <span id="totalPrice"> </span> ₼
                            </div>
                        </div>


                    </div>
                </div>

                <div class="end-basket-button">
                    <div class="all-clear-continue">
                        <button style="background-color:#3a7DCF;height: 35px;width: 171px">
                            <a style="color:white" asp-action="index" asp-controller="shop">Alış verişə davam et</a>
                        </button>

                    </div>

                    <div class="recalculate-complete">
                        <button style="background-color:#3a7DCF;height: 35px;width: 147px;margin-top: 2px;">
                            <a style="color:white" href="#">Yenidən hesabla</a>
                        </button>
                        <button style="background-color:#FFD82D;height: 40px;width: 200px">
                            <a style="color:black;font-size:15px;" href="#">Sifarişi tamamla</a>
                        </button>
                    </div>


                </div>
            </div>
        </div>
    </section>

    @section css{
        <link rel="stylesheet" href="~/assets/sass/basket.css">
    }

    @section js {
        <script src="~/assets/js/basket.js"></script>

        <script>
            function setTotalPrice() {
                let items = document.querySelectorAll('.amount');
                let totalPrice = 0;
                for (var i = 0; i < items.length; i++) {
                    totalPrice = totalPrice + parseInt(items[i].textContent);
                }
                $('#totalPrice').html(`${totalPrice}`);
                console.log(totalPrice);
            }
            setTotalPrice();
            
            function readFromBasket() {
                return ($.cookie('cards') || '').split(',');
            }
            function removeEntity(entityId) {
                let items = readFromBasket();
                let id = entityId.toString();
                const index = items.indexOf(id);
                if (index > -1) {
                    items.splice(index, 1);
                }
                $.cookie('cards', items.toString(), { expires: 7, path: '/' });

                $.ajax({
                    success: function (response) {
                        if (response.error == true) {
                            toastr.error(response.message, "Error!");
                            return;
                        }
                        toastr.success("Successfully Deleted", response.message)
                        $(`section[data-entity-id=${entityId}]`).remove();
                        setTotalPrice();
                        //checkCart();
                    },
                    error: function (response) {
                        toastr["error"]("Unsuccessfully", "Data has not been deleted")
                    }
                })
            }
            function plusQuantity(e) {
                e.preventDefault();
                let row = $(e.currentTarget).closest('section');

                let data = $(row).data();

                let quantity = $(row).find('span.quantity').html();
                if (!isNaN(quantity)) {
                    quantity++;
                    $(row).data('quantity', quantity);
                }
                $(row).find('span.quantity').html(quantity);
                $(row).find('div.product-price .amount').html(`${(data.price * quantity)}₼`)
                setTotalPrice();
                console.log(data);
            }
            function minusQuantity(e) {
                e.preventDefault();
                let row = $(e.currentTarget).closest('section');

                let data = $(row).data();

                let quantity = $(row).find('span.quantity').html();
                if (quantity == 1) {
                    return;
                }
                if (!isNaN(quantity)) {
                    quantity--;
                    $(row).data('quantity', quantity);
                }
                $(row).find('span.quantity').html(quantity);
                $(row).find('div.product-price .amount').html(`${(data.price * quantity)}₼`)
                setTotalPrice();
                console.log(data);
            }
        </script>

    }
