@model IEnumerable<EcoPart.Web.UI.Models.Entities.Faq>
@{
    ViewData["Title"] = "Index";
}

<h1>Frequently Asked Questions</h1>

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item" style="float: left;">
                        <a href="../index.html"> <i class="feather icon-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <a href="#!">Frequently Asked Questions</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="page-body">

    <div class="card">
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Question)
                            </th>
                            <th class="actionbtns">
                                <a asp-action="Create"><button class="btn btn-success"><i class="icofont-plus"></i></button></a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr data-entity-id="@item.Id">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Question)
                                </td>
                                <td class="actionbtns">
                                    <button class="btn btn-grd-success "><a asp-action="Edit" asp-route-id="@item.Id"><i class="icofont-edit-alt"></i></a> </button>
                                    <button type="submit" class="btn btn-grd-warning ">  <a asp-action="Details" asp-route-id="@item.Id"><i class="icofont-eye-alt"></i></a>  </button>
                                    <a class="btn btn-danger" onclick="removeEntity(event,@item.Id ,'@item.Question')">
                                        <i class="icofont-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>